<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8"/>
</head>
<body>
    <p>Please add your education.</p>
    <h1>Education</h1>
    <form action="#" th:action="@{/addeducation}" th:object="${neweducation}" method="post">

        <span th:if="${#fields.hasErrors('degree')}" th:error="*{degree}">Degree is required</span>
        <p>Enter your degree: <input> type="text" th:field="*{degree}"/></p>

        <span th:if="${#fields.hasErrors('university')}" th:error="*{university}">University is required</span>
        <p>Enter your university: <input> type="text" th:field="*{university}"/></p>

        <span th:if="${#fields.hasErrors('graduationYear')}" th:error="*{gradYear}">Year of graduation is required</span>
        <p>Enter your year of graduation: <input> type="text" th:field="*{gradYear}"/></p>

        <p><input type="submit" value="Add education"/> <input type="reset" value="Reset"/></p>
    </form>


</body>
</html>