<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8"/>
</head>
<body>
<p>Please add your personal information.</p>
<h1>User Information</h1>
<form action="#" th:action="@{/addperson}" th:object="${newperson}" method="post">

    <span th:if="${#fields.hasErrors('firstname')}" th:error="*{firstname}">First name is required</span>
    <p>Enter your first name: <input> type="text" th:field="*{firstname}"/></p>

    <span th:if="${#fields.hasErrors('middlename')}" th:error="*{middlename}">Middle name is required</span>
    <p>Enter your middle name: <input> type="text" th:field="*{middlename}"/></p>

    <span th:if="${#fields.hasErrors('lastname')}" th:error="*{lastname}">Last name is required</span>
    <p>Enter your last name: <input> type="text" th:field="*{lastname}"/></p>

    <span th:if="${#fields.hasErrors('email')}" th:error="*{email}">Your email is required</span>
    <p>Enter your email: <input> type="text" th:field="*{email}"/></p>

    <p><input type="submit" value="Add user profile"/> <input type="reset" value="Reset"/></p>
</form>


</body>
</html>